MONGODB_URI=mongodb://127.0.0.1:27017/cross-road-game-api
PORT=3000
JWT_SECRET=0x421c70039b32754b70D9e1BDA0A15B427487633f
SWAGGER_SERVER_URL=http://localhost:3000/api/docs
JWT_EXPIRES_IN=7d
PASSWORD_SALT_ROUNDS=10
NODE_ENV=development